<ul class="navbar-nav">
    
    @if (!User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link btn btn-danger" asp-area="" asp-controller="Profile" asp-action="Login">Войти</a>
        </li>
    }
    else if (User.Identity.Name == "admin@gmail.com")
    {
        <li class="nav-item">
            <a class="btn btn-warning" asp-area="" asp-controller="Post" asp-action="Create">Добавить</a>
        </li>
    } else {
        <li class="nav-item">
            <a class="nav-link btn btn-warning" asp-area="" asp-controller="Profile" asp-action="Logout">Выйти</a>
        </li>
    }
</ul>