@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p><a asp-controller="Post" asp-action="Posts">Все акции здесь</a></p>
</div>

