@model LoginModelView

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<main class="text-center">

    <form class="form-signin" asp-action="Login" asp-controller="Profile" asp-antiforgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Добро пожаловать снова!</h1>
        <label for="inputEmail" class="sr-only">Электронная почта</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" asp-for="Email">

        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" id="inputPassword" class="form-control mt-3" placeholder="Password" required="" asp-for="Password">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <input type="submit" value="Войти" class="btn btn-primary btn-block"/>
        <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>

    <a asp-controller="Profile" asp-action="Register">Нет аккаунта?</a>
</main>